%tr
  %td{:colspan => "3"}
    %h6 Comments
    .input-group.mb-3
      %input.form-control{"aria-describedby" => "basic-addon3", "aria-label" => "Comment Text", :placeholder => "Comment Text", :type => "text"}/
      .input-group-append
        %button.btn.btn-outline-primary{:type => "button"} Add Comment
