%h3.py-3.m-0 Depositor
.card-deck
  .card
    .card-body
      %h4.card-title Submit a new work
      %p.card-text Select an available binary from the upload pool and provide metadata.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Submit
  .card
    .card-body
      %h4.card-title Review my history
      %p.card-text View the actions that have been recorded in Charon.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Review
