%h1.py-2
  Administrator Dashboard

.card-deck.pt-3
  .card
    .card-body
      %h4.card-title Create a project
      %p.card-text Projects allow for the organization of users, collections and works.
      %a.btn.btn-lg.btn-block.btn-primary{:href => "/projects/new", :role => "button"} Create
  .card
    .card-body
      %h4.card-title Create a user
      %p.card-text Make a new user who can be a project manager.
      %a.btn.btn-lg.btn-block.btn-primary{:href => "/users/sign_up", :role => "button"} Create
