%h2.py-2
  System Dashboard

.card-deck.pt-3
  .card
    .card-body
      %h4.card-title Create a project
      %p.card-text Projects allow for the organization of users, collections and works.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "/projects/new", :role => "button"} Create
  .card
    .card-body
      %h4.card-title Create a user
      %p.card-text Make a new user.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => admin_new_user_path, :role => "button"} Create
