%h2.py-2
  System Dashboard

%ul#myTab.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a#projects-tab.nav-link.active{"aria-controls" => "projects", "aria-selected" => "true", "data-toggle" => "tab", :href => "#projects", :role => "tab"} Projects
  %li.nav-item
    %a#users-tab.nav-link{"aria-controls" => "users", "aria-selected" => "false", "data-toggle" => "tab", :href => "#users", :role => "tab"} Users
#myTabContent.tab-content
  #projects.tab-pane.fade.show.active{"aria-labelledby" => "projects-tab", :role => "tabpanel"}
    = render 'admin/projects/index'
  #users.tab-pane.fade{"aria-labelledby" => "users-tab", :role => "tabpanel"}
    = render 'admin/users/index'

.card-deck.pt-3
  .card
    .card-body
      %h4.card-title Create a project
      %p.card-text Projects allow for the organization of users, collections and works.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "/projects/new", :role => "button"} Create
  .card
    .card-body
      %h4.card-title Create a user
      %p.card-text Make a new user.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => admin_new_user_path, :role => "button"} Create
