%h3.py-3.m-0 Administrator
.card-deck
  .card
    .card-body
      %h4.card-title Design a workflow
      %p.card-text Create a workflow for your project involving tasks groups and users.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Design
  .card
    .card-body
      %h4.card-title Manage users
      %p.card-text Adjust the User Registry for your project.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Manage
