%h3.py-3.m-0 Editor
.card-deck
  .card
    .card-body
      %h4.card-title Review Collection
      %p.card-text Create a workflow for your project involving tasks groups and users.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Review
  .card
    .card-body
      %h4.card-title Review User
      %p.card-text Adjust the User Registry for your project.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Review
  .card
    .card-body
      %h4.card-title Assign a task
      %p.card-text Adjust the User Registry for your project.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Assign
  .card
    .card-body
      %h4.card-title Review completed tasks
      %p.card-text Adjust the User Registry for your project.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Review
  .card
    .card-body
      %h4.card-title Review Submission
      %p.card-text Adjust the User Registry for your project.
    .card-footer
      %a.btn.btn-lg.btn-block.btn-primary{:href => "#", :role => "button"} Review
