.input-group.mb-3
  .input-group-prepend
    %label.input-group-text{:for => "inputGroupSelect01"} Projects
  %select#inputGroupSelect01.custom-select
    %option{:selected => "selected"} Choose...
    %option{:value => "1"} One
    %option{:value => "2"} Two
    %option{:value => "3"} Three
