- if @projects.blank?
  %h2.py-3
    No projects available
- else
  %h2.py-3
    Projects
  %table.table.table-bordered
    %tbody
      - @projects.each_with_index do |project|
        %tr
          %td.align-middle
            = project.title
          %td.align-middle
            %a.btn.btn-sm.btn-primary.float-right{:href => actions_path(project), :role => "button"} Select
