%h2.py-3
  History for
  = @work.title

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} Action
      %th{:scope => "col"} Date
  %tbody
    - @work.history.each_with_index do |action, i|
      %tr
        %td.align-middle
          = render partial: "shared/tasks/display", locals: {action: action}
        %td.align-middle
          = action.created_at
