%a.btn.btn-primary.float-right{:href => claim_task_path(params[:id]), :role => "button"} Update Work
%h2
  = @work.title

.container.work-metadata
  .row
    .col
      Thumbnail
    .col
      #mods
        = @mods_html.html_safe
