%h2.py-2
  Profile for
  = @user.name

%h4.py-2
  Task Assignments
%table.table.table-bordered.table-responsive
  %tbody
    - @assignments.each do |action|
      %tr
        %td.align-middle
          = render partial: "shared/actions/display", locals: {action: action}

%h4.py-2
  Users Actions
%table.table.table-bordered.table-responsive
  %tbody
    - @user_actions.each do |action|
      %tr
        %td.align-middle
          = render partial: "shared/actions/display", locals: {action: action}
