%picture
  %source{media: "(min-width: 2000px)", sizes: "100vw", srcset: @thumbnail_path}
  %source{media: "(min-width: 2000px)", sizes: "100vw", srcset: @thumbnail_path}
  %source{media: "(min-width: 1000px)", sizes: "100vw", srcset: @thumbnail_path}
  %source{media: "(min-width: 1000px)", sizes: "100vw", srcset: @thumbnail_path}
  %source{sizes: "100vw", srcset: @thumbnail_path}
  %source{sizes: "100vw", srcset: @thumbnail_path}
  %img{alt: "Your smart alt attribute", srcset: @thumbnail_path}/
