#invite.tab-pane
  .panel.panel-default.labels
    = form_tag Rails.application.routes.url_helpers.mass_invitation_path(params[:id]) do
      .panel-body
        .input-group.control-group.after-add-more
          %input.form-control{:name => "emails[]", :placeholder => "Enter Name Here", :type => "text"}/
          .input-group-btn
            %button.btn.btn-success.add-more{:type => "button"}
              %i.glyphicon.glyphicon-plus
              Add
        / Copy Fields-These are the fields which we get through jquery and then add after the above input,
        .copy-fields.hide
          .control-group.input-group{:style => "margin-top:10px"}
            %input.form-control{:name => "emails[]", :placeholder => "Enter Name Here", :type => "text"}/
            .input-group-btn
              %button.btn.btn-danger.remove{:type => "button"}
                %i.glyphicon.glyphicon-remove
                Remove
      .panel-footer
        = link_to t('.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'
        = submit_tag "Invite", class: 'btn btn-primary pull-right'

:javascript
  $(document).ready(function() {
    //here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
    $(".add-more").click(function(){
        var html = $(".copy-fields").html();
        $(".after-add-more").after(html);
    });
    //here it will remove the current value of the remove button which has been pressed
    $("body").on("click",".remove",function(){
        $(this).parents(".control-group").remove();
    });
  });
