#users.tab-pane
  .panel.panel-default.labels
    = form_tag do
      .panel-body
        %table.table.table-striped
      .panel-footer
        = link_to t('.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'
        = submit_tag "Adjust", class: 'btn btn-primary pull-right'
