%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.topbar{:role => "navigation"}
  %div{:class => container_classes}
    = link_to application_name, root_path, class: 'mb-0 navbar-brand'
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "user-util-collapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#user-util-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #user-util-collapse.collapse.navbar-collapse.justify-content-md-end
      = render 'shared/user_util_links'
%main{:role => "main"}
  / Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .container
      %h1.display-3 Charon
      %br
      %p Charon is a digital framework designed to provide workflow management for a range of contributory and editorial digital humanities projects. Charon is part of CERES (the Community-Enhanced Repository for Engaged Scholarship), a larger ecology of tools developed by the Northeastern University Library to provide long-term sustainable support for advanced forms of digital scholarship, data curation, and publication.
      %br
      %p
        %a.btn.btn-primary.btn-lg{:href => "http://hdl.handle.net/2047/D20247281", :role => "button"} Learn more »
  .container
    / Example row of columns
    .row
      .col-md-4
        %h2 Create a project
        %p Projects allow for the organization of users, collections and works.
        %p
          %a.btn.btn-secondary{:href => "projects/new", :role => "button"} Create »
      .col-md-4
        %h2 New User?
        %p Sign up to become a contributor to projects and collections.
        %p
          %a.btn.btn-secondary{:href => "users/sign_up", :role => "button"} Register »
      .col-md-4
        %h2 Create a Work
        %p Upload a file to begin the process of creating a scholarly Work.
        %p
          %a.btn.btn-secondary{:href => "generic_uploads/new", :role => "button"} Upload »
    .row
      .col-lg
        %br
        %h2 Recent Progress
        %table.table.table-bordered
          - @git_log.each do |commit|
            %tr
              %td.align-middle
                = commit[0]
              %td
                = commit[1]
    %hr/
%footer.container
  %p © Company 2017-2018
