/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    %h1.display-3 Charon
    %br
    %p Charon is a digital framework designed to provide workflow management for a range of contributory and editorial digital humanities projects. Charon is part of CERES (the Community-Enhanced Repository for Engaged Scholarship), a larger ecology of tools developed by the Northeastern University Library to provide long-term sustainable support for advanced forms of digital scholarship, data curation, and publication.
    %br
    %p
      %a.btn.btn-primary.btn-lg{:href => "http://hdl.handle.net/2047/D20247281", :role => "button"} Learn more »
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Admin Dashboard
      %p Create projects and users.
      %p
        %a.btn.btn-secondary{:href => "admin/dashboard", :role => "button"} Explore »
    .col-md-4
      %h2 User Dashboard
      %p Participate in project work.
      %p
        %a.btn.btn-secondary{:href => "users/dashboard", :role => "button"} Explore »
    .col-md-4
      %h2 New User?
      %p Sign up to participate.
      %p
        %a.btn.btn-secondary{:href => "users/sign_up", :role => "button"} Register »
  .row
    .col-lg
      %h2.py-3 Recent Progress
      %table.table.table-bordered.table-responsive
        - @git_log.each do |commit|
          %tr
            %td.align-middle
              %a{:href => "https://github.com/NEU-Libraries/charon/commit/#{commit[0]}"}
                = commit[0]
            %td
              = commit[1]
