%h2.py-2
  Uploaded Files for
  = @project.title
%table.table.table-bordered
  - @uploads.each_with_index do |upload, i|
    %tr
      %td.align-middle
        = i
      %td.w-75.align-middle
        = upload.binary.blob.filename.to_s
      %td.text-right
        %button.btn.btn-sm.btn-success.btn-add{:href => "", :type => "button", "data-toggle"=>"tooltip", :title => "Approve"} Approve
        %button.btn.btn-sm.btn-danger.btn-add{:href => "", :type => "button", "data-toggle"=>"tooltip", :title => "Deny"} Deny
