%h2.py-2
  Uploaded Files for
  = @project.title
%table.table.table-bordered
  - @uploads.each_with_index do |upload, i|
    %tr
      %td.align-middle
        = i
      %td.w-75.align-middle
        = upload.file_name
      %td.text-right
        %a.btn.btn-sm.btn-success{:href => upload_approve_path(upload)} Approve
        %a.btn.btn-sm.btn-danger{:href => upload_deny_path(upload)} Deny
