-if current_user.present?
  %a.nav-link{:href => "#"}
    Notifications
    -if current_user.unread_notification_count > 0
      %span.badge.badge-danger
        = current_user.unread_notification_count
    -else
      %span.badge.badge-success 0
