-if current_user.present?
  %a.nav-link{:href => notifications_path}
    Notifications
    -if current_user.unread_notification_count > 0
      %span.badge.badge-danger
        = current_user.unread_notification_count
