%tr
  %td.table-info
  %td
    Select assigned task
  %td
    Select a task assigned to my group or myself.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Select
%tr
  %td.table-info
  %td
    Select available task
  %td
    Select from tasks available to anyone with my abilites.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => claim_task_path(params[:id]), :role => "button"} Select
