%tr
  %td.table-warning
  %td
    Upload a file
  %td
    Upload a binary file to Charon that can then be made into a Work.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => new_generic_upload_url(project_id: @project.noid), :role => "button"} Submit
%tr
  %td.table-warning
  %td
    Review my history
  %td
    View the actions that have been recorded in Charon.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
