%tr
  - if @manager
    %td.table-success
  %td
    Review all works
  %td
    Inspect the state of all works for this project
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_works_path(@project), :role => "button"} Review
%tr
  - if @manager
    %td.table-success
  %td
    Review user history
  %td
    Inspect all users currently associated with this project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_users_path(@project), :role => "button"} Review
%tr
  - if @manager
    %td.table-success
  %td
    Review completed tasks
  %td
    Select from completed tasks items to be vetted and reviewed.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  - if @manager
    %td.table-success
  %td
    Review uploads
  %td
    Vet a binary for approval or denial.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_uploads_path(@project), :role => "button"} Review
%tr
  - if @manager
    %td.table-success
  %td
    Add supplementary project files
  %td
    Upload files to the system created collections for this project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_supplemental_uploads_path(@project), :role => "button"} Upload
