%tr
  %td.table-success
  %td
    Review all works
  %td
    Inspect the state of all works for this project
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Review user history
  %td
    Inspect all users currently associated with this project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Assign a task
  %td
    Select a task and assign it to a user or role.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Assign
%tr
  %td.table-success
  %td
    Review completed tasks
  %td
    Select from completed tasks items to be vetted and reviewed.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Review uploads
  %td
    Vet a binary for approval or denial.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_uploads_path(@project), :role => "button"} Review
