%tr
  %td.table-success
  %td
    Review in progress tasks
  %td
    Inspect all items currently in the editorial pipeline.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Review User History
  %td
    Inspect all users currently associated with this project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Assign a task
  %td
    Select a task and assign it to a user or role.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Assign
%tr
  %td.table-success
  %td
    Review completed tasks
  %td
    Select from completed tasks items to be vetted and reviewed.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
%tr
  %td.table-success
  %td
    Review Submission
  %td
    Vet a task in progress.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Review
