%tr
  %td.table-primary
  %td
    Create a workflow
  %td
    Create a workflow for your project involving tasks groups and users.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => new_workflow_path(:project_id => params[:id]), :role => "button"} Create
%tr
  %td.table-primary
  %td
    Manage users
  %td
    Adjust the User Registry for your project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_users_path(params[:id]), :role => "button"} Manage
%tr
  %td.table-primary
  %td
    Manage workflows
  %td
    Edit workflows associated with your project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_workflows_path(params[:id]), :role => "button"} Manage
