%tr
  %td.table-primary
  %td
    Design a workflow
  %td
    Create a workflow for your project involving tasks groups and users.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => "#", :role => "button"} Design
%tr
  %td.table-primary
  %td
    Manage users
  %td
    Adjust the User Registry for your project.
  %td
    %a.btn.btn-sm.btn-block.btn-outline-primary{:href => project_users_path(params[:project_id]), :role => "button"} Manage
