html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
}

footer {
  flex-grow: 0;
}

.table-responsive {
  display: table;
}

.footer {
  background-color: #385775;
  color: $light;

  .logo {
    width: 175px;
  }

  a {
    color: $light;
  }

  li.list-inline-item:before {
    content: "\20\00b7";
    margin-right: 8px;
  }
  li.list-inline-item:first-child:before{
    content: "";
    margin-right: auto;
  }
  .nu-social{
    li{
      float: right;
      display: block;
      a {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        padding: 0.25em;
        font-size: 1.3em;
        opacity: 0.5;
      }
      a:hover {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        text-decoration: none;
        opacity: 1;
      }
    }
    li:after {
      content: "";
    }
  }
}

#documents.row.gallery {
  display: block;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  .document {
    display: flex;
    flex: none;
    .thumbnail {
      &> a {
        display: block;
        height: 80px;
      }
      .caption {
        height: 160px;
        overflow: hidden;
        dl.document-metadata {
          margin-bottom: 0;
        }
      }
      width: 100%;
      padding-bottom: 10px;
    }
  }
}

.jumbotron-small {
  padding: 2rem 1rem;
}

.sortable {
  list-style: none;
}

.hidden-task {
  display: none !important;
}

// Needed due to https://github.com/projectblacklight/blacklight/pull/2145/files and because we don't want the full header file
#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;

  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
  }

  .element-invisible.element-focusable:active,
  .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }

  a:focus {
    background-color: $white;
  }
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}

.ace_editor{
  border: 1px solid;
}

#mods {
  dl {
    dd {
      margin-bottom: auto;
    }
  }
}
