- if @workflows.blank?
  %h3.py-3
    No workflows available
- else
  %h3.py-3
    Available Workflows
  %table.table.table-bordered
    %tbody
      - @workflows.each_with_index do |workflow|
        %tr
          %td.align-middle
            = workflow.title
          %td.align-middle
            %a.btn.btn-sm.btn-success.float-right{:href => upload_attach_path(workflow_id: workflow.id), :role => "button"} Attach
