%h1
  Uploaded Files

%table.table.table-striped
  - @uploads.each_with_index do |upload, i|
    %tr
      %td
        = i
      - upload.generics_identifiers.each do |ident|
        %td
          = ident
        %td
          %button.btn.btn-success.btn-add{:type => "button", "data-toggle"=>"tooltip", :title => "Assign Workflow"}
